html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #b3a58e;
    overflow: hidden;
}

.about_page{
    padding: 30px 40px;
}

.about_page a{
    color:black;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #bdb5a678;
    color: #6e6960;
    padding: 10px 0;
}

.about{
    color: #51452f;
    text-decoration: none;
    margin: 10px;
    display: block;
    text-align: right;
}

.container {
    background-color: #e9e2d6;
    box-shadow: 4px 4px 4px #858383;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    opacity: 0.8;
    padding: 10px 5px 40px;
}

.season{
    width: 100%;
}

.season img{
    width: 40px;
    opacity: 0.5;
}


.logos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.logo {
    height: 60px;
    width: auto;
}

.logo img{
    height: 100%;
    width: auto;
}

.ruler {
    border-bottom: 1px solid black;
    height: 60px;
    width: 100%;
}

.rune {
    position: absolute;
    font-size: 40px;
    text-align: center;
    width: 70%;
}


.info {
    text-align: center;
}

.name {
    font-size: 30px;
    margin: 1em 0 0;
}

.date{
    margin: 1em 0;
}

.des {
    padding: 10px 30px;
    font-size: 20px;
    overflow: scroll;
    text-align: left;
}

.hide {
    display: none;
}

#boat,
#with-shield {
    opacity: 0.1;
    position: absolute;
    z-index: -999;
    width: 280px;
}

#helmet {
    position: absolute;
    opacity: 0.3;
    z-index: -9999;
    width: 120px;
}


.boat_0,
.helmet_1,
.with_shield_2 {
    right: 0;
    top: 20px;
}

.helmet_0,
.with_shield_1 {
    top: 20px;
    left: -10px;
}


.with_shield_0,
.boat_2 {
    bottom: 30px;
}

.helmet_2,
.boat_1 {
    bottom: 20px;
    right: 0;
}



/* Media Query for Tablets */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding-top: 10%;
    }



    .logo{
        text-align: center;
    }

    .logo img{
        width: auto;
        /* Make the logo smaller */
        height: 25vw;
    }

    .ruler {
        width: 80%;
        /* Make ruler occupy more space */
    }

    .name {
        font-size: 5vw;
        /* Adjust font size for better readability */
        margin: 40px 0 15px;
    }

    .des {
        width: 80%;
        /* Make description text take more space */
        font-size: 3vw;
        /* Adjust font size */
    }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
    .container {
        width: 90%;
        box-shadow: 1px 1px 1px #b3a58e;
        padding: 5px 5px 20px;
    }

    .footer{
        font-size: small;
        padding: 5px 0;
    }

    .season img{
        width: 30px;
    }

    .logo img{
        height: 70px;
        width: auto;
    }

    .rune{
        width: 90%;
    }

    /* .name {
        font-size: 30px;
        margin: 40px 0 20px;
    } */

    .des {
        width: 90%;
        font-size: 15px;
    }

    #boat,
    #with-shield {
        opacity: 0.1;
        position: absolute;
        z-index: -999;
        width: 100px;
    }

    #helmet {
        position: absolute;
        opacity: 0.3;
        z-index: -9999;
        width: 50px;
    }
}