html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: auto;
}

body {
    background-color: #b3a58e;
    overflow: hidden;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #bdb5a678;
    color: #6e6960;
    height: 30px;
    padding: 10px 0;
}

.actions{
    width: 100%;
    min-height: 50px;
}

.actions button{
    border: none;
    margin-top: 30px;
    background: none;
    color: #3c3a3a;
}

.actions button:last-child{
    float: right;
}

.about {
    color: #51452f;
    text-decoration: none;
    margin: 10px;
    display: block;
    text-align: right;
}

.container {
    background-color: #e9e2d6;
    box-shadow: 4px 4px 4px #858383;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    opacity: 0.8;
    padding: 10px 5px 10px;
    margin-bottom: 5%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.season {
    width: 100%;
}

.season_default{
    width: 70px;
    height: 70px;
    border: 1px dashed;
}

.season img {
    width: 70px;
    opacity: 0.9;
}


.logo_container {
    text-align: center;
}


.logo {
    height: 150px;
    width: auto;
}

.logo_default {
    width: 150px;
    height: 150px;
    border: 1px dashed;
}

.logo img {
    height: 100%;
    width: auto;
}

.rune {
    position: absolute;
    font-size: 40px;
    text-align: center;
    width: 70%;
    opacity: 0.2;
}


.info {
    text-align: center;
    opacity: 1;
    position: relative;
    top: -1.5em;
}

.name {
    font-size: 30px;
    margin: 1em 0 0;
}

.date {
    margin: 1em 0;
}

.des {
    padding: 10px 30px;
    font-size: 20px;
    overflow: scroll;
    text-align: left;
}

.hide {
    display: none;
}

#boat,
#with-shield {
    opacity: 0.1;
    position: absolute;
    z-index: -999;
    width: 280px;
}

#helmet {
    position: absolute;
    opacity: 0.3;
    z-index: -9999;
    width: 120px;
}


.boat_0,
.helmet_1,
.with_shield_2 {
    right: 0;
    top: 20px;
}

.helmet_0,
.with_shield_1 {
    top: 20px;
    left: -10px;
}


.with_shield_0,
.boat_2 {
    bottom: 30px;
}

.helmet_2,
.boat_1 {
    bottom: 20px;
    right: 0;
}



/* Media Query for Tablets */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding-top: 10%;
    }

    .logo {
        height: 25vw;
    }

    .logo_default {
        width: 25vw;
        height: 25vw;
        border: 1px dashed;
    }

    .logo img {
        width: auto;
        height: 25vw;
    }


    .name {
        font-size: 5vw;
        margin: 40px 0 15px;
    }

    .des {
        width: 80%;
        font-size: 3vw;
    }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #bdb5a678;
        color: #6e6960;
        height: 30px;
        padding: 10px 0;
    }
}

/* Media Query for Mobile */
@media (max-width: 480px) {

    body {
        background-color: #b3a58e;
        overflow: auto;
    }

    .container {
        width: 90%;
        box-shadow: 1px 1px 1px #b3a58e;
        padding: 5px 5px 20px;
        min-height: 70vh;
    }

    .footer {
        font-size: small;
        padding: 5px 0;
    }

    .season img {
        width: 30px;
    }

    .season_default{
        width: 30px;
        height: 30px;
        border: 1px dashed;
    }

    .logo {
        height: 70px;
    }

    .logo_default {
        width: 70px;
        height: 70px;
        border: 1px dashed;
    }

    .rune,
    .name {
        font-size: 7vw;
    }

    .rune {
        width: 90%;
    }

    .des {
        width: 90%;
        font-size: 15px;
        padding: 2% 5%;
        overflow: scroll;
    }

    #boat,
    #with-shield {
        opacity: 0.1;
        position: absolute;
        z-index: -999;
        width: 100px;
    }

    #helmet {
        position: absolute;
        opacity: 0.3;
        z-index: -9999;
        width: 50px;
    }


    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #bdb5a678;
        color: #6e6960;
        height: 30px;
        padding: 10px 0;
    }
}